@media screen and (max-width: 1180px) {
    .wrapper {
        padding: 0 60px;
    }
    .info__title {
        letter-spacing: unset;
        
    }
    
    .info__text {
        
    }
    
    .about__wrapper {
        flex-direction: column;
        
        
    }
    
    .about__wrapper img {
        display: none;
    }
    .about__block {
        max-width: 60%;
    }
}

@media screen and (max-width: 1100px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
        
    }
    .process__item {
        max-width: 70%;
    }
    .intro__content {
        margin-left: 20px;
    }
    .form__group {
        width: 100%;
        
    }
    input[type="texty"] {
        width: 80%;
       
    }
    .input-textg {
        width: 80%;
       
    }
    .label span {
        margin-left: 10%;
    }
    
    .contacts__form button {    
        max-width: 80%;
        min-width: 100px;
    }
 /*    .input-textg {
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
       
        
    } */
   /*  .btn1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex; 
    } */
    .input-textg {
       /*  align-items: center;
        justify-content: center;
       /*  padding: 20px; */
      /*   width:  100%;
        display: flex; */ */
    }
  /*   .input-box {
        width:  15%;
    } */
   /*  .input-btn {
        align-items: center;
        justify-content: center;
    } */
}

 @media screen and (max-width: 1092px) {   
     .contacts__title {
         margin-bottom: 40px;
     }
     input[type="text"] {
        width: 80%;
    }
    .gbo {
        max-width: 60%;
    }
  
}

@media screen and (max-width: 990px) { 
    .contacts__title {
         margin-bottom: 80px;
     }
     .contacts__form {
       /*  width: 20%; */
     }
     .input-textg {
        width: 60%;
       
    }
    .input-btn {
        width: 60%;
    }
}